@page "/ContainersPage"
<h3>ContainersPage</h3>

@* 
Running container names
Port mappings
Other section for not running containers
Attenttion section for exited containers
sort containers option
Time each container runs
 *@

@code {
    
}