@page "/DashboardPage"
<h3>DashboardPage</h3>

@*
Here should be aggregated data:
- how many containers are runnig
- list of errors
- some charts with containers activity and resources usage
- nav bar
*@

@code {
    
}