@page "/UsersPage"
<h3>UsersPage</h3>

@* TODO here 
table of users
each user should have:
- name
- role
- email
- registration datetime

Also here should be button to add new user
Button to remove user
Also some page to manage roles
button to invite new user
*@

@code {
    
}